@import "tailwindcss";

:root {
  --background-colour: #0c884e79;
  --accent-colour: #03edfdaf;
  --link-colour: #0c035c;
  --post-colour: #88f088ef;
}
body {
  background-color: var(--background-colour);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;

  font-family: monospace;
}
